.bool-literals-01245{
  background-color:#000000;
  width:1px;
  height:2px;
  width:4px;
  height:5px;
}
#bool-vars-0135{
  background-color:#000000;
  width:1px;
  height:3px;
  height:5px;
}
nested-ifs-01358{
  background-color:#000000;
  width:1px;
  height:3%;
  color:#000005;
  height:8%;
}
double-ref-123456{
  color:#123456;
}
